header {
    background-color:#ffffff;
    height:101px;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    border-bottom:1px solid #cccccc;
}


h1 {
    float:left;
    background-color: #4aaaa5;
    color:White;
    border-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:33px;
    margin-left:205px;
    width:220px;
    margin-top: 0;
    padding:31px;
    border:1px solid #cccccc;
    text-align: center;
    
}

ul {
    list-style-type: none;
    margin-top: 35px;
    margin-right:240px;
    margin-bottom:110px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding:0px;
    font-size:18px;
    padding-right:3px;
    padding-left:3px;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    border-right:2px solid lightgrey;
}

li a {
    display: block;
    color:#777777;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.border1 {
    border-right:0px;
}

p {
    margin-left:29px;
    margin-right:29px;
    line-height:30px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}

body {
    clear:both;
    background-image: url("../images/gravel.png");
    color:#777777;
    font-size:15px;
}

#box {
    overflow: auto;
    clear: both;
    color:#777777;    ;
    background:#ffffff;
    margin-top: 130px;
    margin-right: 196px;
    margin-left: 196px;
    border:1px solid #dddddd;
}

#box2 {
    overflow: auto;
    clear: both;
    color:#777777;    ;
    background:#ffffff;
    margin-top: 115px;
    margin-right: 196px;
    margin-left: 196px;
    padding-bottom: 13px;
    border:1px solid #dddddd;
}

#img1 {
    height:200px;
    width:160px;
    float:left;
    margin-left:29px;
    margin-right:24px;

}

h2 {
    color:#4aaaa5;
    margin-left:29px;
    margin-right:29px;
    border-bottom:2px solid #cccccc;
    padding: 23px 23px 23px 0px;
    font-size:30px;
}


#input {
    font:#777777;
    margin-left:29px;
}

#container {
    margin-left:29px;
}

.field1 {
    width:97%;
    margin-top:7px;

}

.field2 {
    width:97%;
    box-sizing: border-box;
    height:200px;
}

.portimg {
    width:158px;
    height:120px;
    margin-left:24px;
    float:left;
    clear: both;
}

.container1 {
    width:auto;
    height:120px;
    position: relative ;
    text-align: center;
    color: white;
    float:left;
}

.hangman {
    position: absolute;
    background-color: #4aaaa5;
    width: 158px;
    height:20px;
    font-size:20px;
    margin-top: 80px;
    padding:4px;
    margin-left:24px;
}

.container2 {
    width:auto;
    height:120px;
    position: relative ;
    text-align: center;
    color: white;
    margin-left:24px;
    float:left;
}

.Trivia { 
    position: absolute;
    background-color: #4aaaa5;
    width: 150px;
    height:20px;
    font-size:20px;
    margin-top: 80px;
    padding:4px;
    margin-left:24px;
}

.container3 {
    width:auto;
    height:120px;
    position: relative ;
    text-align: center;
    color: white;
    margin-top: 30px;
    float:left;
    clear:both;
}

.rps { 
    position: absolute;
    background-color: #4aaaa5;
    width: 150px;
    height:20px;
    font-size:17px;
    margin-top: 85px;
    padding:4px;
    margin-left:24px;
}

.container4 {
    width:auto;
    height:120px;
    position: relative ;
    text-align: center;
    color: white;
    margin-left:24px;
    margin-top: 30px;
    float:left;
}

.rut {
    position: absolute;
    background-color: #4aaaa5;
    width: 150px;
    height:20px;
    font-size:20px;
    margin-top: 85px;
    padding:4px;
    margin-left:24px;
}

.container5 {
    width:auto;
    height:120px;
    position: relative ;
    text-align: center;
    color: white;
    margin-top:30px;
    float:left;
    clear:both;
}

.rbg {
    position: absolute;
    background-color: #4aaaa5;
    width: 150px;
    height:20px;
    font-size:17px;
    margin-top: 80px;
    padding:4px;
    margin-left:24px;
}


.footer {
    width:100%;
    padding-top: 5px;
    padding-bottom:5px;
    background: #777777;
    color:#cccccc;
    font-weight:bold;
    font-size:12px;
    font-family: sans-serif;
    text-align-last: center;
    text-align: center;
    position:fixed;    
    bottom:0;          
    left:0;     
    border-top-color: #4aaaa5;
    border-top-style: solid  ;     
    border-top-width: 2px;
    overflow: hidden; 
}

@media screen and (max-width:980px) {

    h1{
        margin-left:75px; 
    }

    #img1 {
        width:40%;
        float:left;
        height:auto;
        padding-bottom:15px;
        margin-right:27px;
      }
  
      .conn {
          width:auto;
          align-content: center;
          float:none;
          margin-right:27px;
      }

    #box {
        margin-left:68px;
        margin-bottom:40px;
    }
    
    #box2 {
        margin-left:67px;
        margin-bottom:40px;
    }

    .field1 {
        width:95%;
    }

    .field2 {
        width:96%;
    }

    ul {
        margin-right:30px;
    }

    .portimg {
        width:100%;
        height:100%;
    }

    .container1 {
        float:left;
        margin-bottom:25px;
        margin-left:auto;
        margin-right:10px;
        width:45.5%;
        position: relative ;
    }

    .hangman {
        position: absolute;
        background-color: #4aaaa5;
        width: 96.5%;
        height:20px;
        font-size:20px;
        margin-top: 80px;
        padding:4px;
        margin-left:24px;
    }

    .container2 {
        float:left;
        margin-bottom:0px;
        margin-left:auto;
        margin-right:30px;
        width:45.5%;
    }

    .Trivia { 
        position: absolute;
        background-color: #4aaaa5;
        width:96.9%;
        height:20px;
        font-size:20px;
        margin-top: 80px;
        padding:4px;
        margin-left:24px;
    }
    

    .container3 {
        float:left;
        margin-bottom:25px;
        margin-top:0px;
        margin-left:auto;
        margin-right:10px;
        width:45.5%;
        
    }

    .rps { 
        position: absolute;
        background-color: #4aaaa5;
        width: 96.5%;
        height:20px;
        font-size:17px;
        margin-top: 85px;
        padding:4px;
        margin-left:24px;
    }

    .container4 {
        float:left;
        margin-bottom:0px;
        margin-top:0px;
        margin-left:auto;
        margin-right:auto;
        width:45.5%;
    }

    .rut {
        position: absolute;
        background-color: #4aaaa5;
        width: 96.9%;
        height:20px;
        font-size:20px;
        margin-top: 85px;
        padding:4px;
        margin-left:24px;
    }

    .container5 {
        float:left;
        margin-bottom:25px;
        margin-top:0px;
        margin-left:auto;
        margin-right:auto;
        width:45.5%;
    }

    .rbg {
        position: absolute;
        background-color: #4aaaa5;
        width: 96.5%;
        height:20px;
        font-size:17px;
        margin-top: 80px;
        padding:4px;
        margin-left:24px;
    }
}


@media screen and (max-width:768px) {

    h1{
        margin-left:25px; 
    }

    #box {
        margin-left:18px;
        margin-right:18px;
    }

    #img1 {
        width:40%;
        float:left;
        height:auto;
        padding-bottom:15px;
        margin-right:27px;
      }
  
      .conn {
          width:auto;
          align-content: center;
          float:none;
          margin-right:27px;
      }

    .field1 {
        width:95%;
    }

    .field2 {
        width:96%;
    }
    
    #box2 {
        margin-left:18px;
        margin-right:18px;
    }

    ul {
        margin-right:25px;
    }
}


@media screen and (max-width:640px) {
   body { 
       margin:0px;
   }

    header {
        position: static;
        padding-bottom:35px;
    }


    h1 {
        width:100%;
        margin-bottom:0px;
        margin-left:0px;
        float:left;
        height:50%;
        padding:20px 0 20px 20px;
    
    }

    ul {
        clear: both;
        padding:15px;
        margin-top:0px;
        margin-bottom:0px;
        width:55%;
        margin-left:auto;
        margin-right:auto;
        /* float:none;
        position:static;
        left:50%; */
       

    }

    li {
        padding-right:15px;
        padding-left:15px;
    }


    #box {
        margin-left:18px;
        margin-right:18px;
        margin-top:20px;
        margin-bottom:40px;
    }


    #img1 {
      width:94%;
      float:none;
      height:auto;
      padding-bottom:15px;
      margin-right:27px;
    }

    .conn {
        width:auto;
        align-content: center;
        float:none;
        margin-right:27px;
    }

    #box2 {
        margin-left:18px;
        margin-right:18px;
        margin-top:20px;
        margin-bottom:40px;
        padding-bottom: 0px;
    }

    .field1 {
        width:93%;
    }

    .field2 {
        width:93%;
    }

    .portimg {
        width:100%;
        height:100%;
    }

    .container1 {
        float:none;
        margin-bottom:36px;
        margin-left:60px;
        margin-right:104px;
        margin-top:36px;
        width:70%;
        position: relative ;
    }

    .hangman {
        position: absolute;
        background-color: #4aaaa5;
        width:98%;
        height:20px;
        font-size:20px;
        margin-top: 80px;
        padding:4px;
        margin-left:24px;
    }

    .container2 {
        float:none;
        margin-bottom:0px;
        margin-left:60px;
        margin-right:104px;
        width:70%;
    }

    .Trivia { 
        position: absolute;
        background-color: #4aaaa5;
        width:98%;
        height:20px;
        font-size:20px;
        margin-top: 80px;
        padding:4px;
        margin-left:24px;
    }

    .container3 {
        float:none;
        margin-bottom:36px;
        margin-top:0px;
        margin-left:60px;
        margin-right:104px;
        width:70%;
        
    }

    .rps { 
        position: absolute;
        background-color: #4aaaa5;
        width:98%;
        height:20px;
        font-size:17px;
        margin-top: 85px;
        padding:4px;
        margin-left:24px;
    }

    .container4 {
        float:none;
        margin-bottom:0;
        margin-top:0px;
        margin-left:60px;
        margin-right:104px;
        width:70%;
    }

    .rut {
        position: absolute;
        background-color: #4aaaa5;
        width: 98%;
        height:20px;
        font-size:20px;
        margin-top: 85px;
        padding:4px;
        margin-left:24px;
    }

    .container5 {
        float:none;
        margin-bottom:25px;
        margin-top:0px;
        margin-left:60px;
        margin-right:104px;
        width:70%;
    }

    .rbg {
        position: absolute;
        background-color: #4aaaa5;
        width: 98%;
        height:20px;
        font-size:17px;
        margin-top: 80px;
        padding:4px;
        margin-left:24px;
    }
    
}